.Header-title{
    padding: 0;
    margin: 0;
    font-size: 1.4375em;
    width: 100vw;
    height: 11.11vh;
    background-color: #0D0D0D;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}